﻿
@{
    ViewBag.Title = "AwaitingApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your instructor role is waiting for approval.</h2>


        <div class="content-wrapper">
            <hgroup class="title">
                <h3>Your instructor role needs to be approved by an administrator for your working group.</h3>
                <h3>Please contact the members of your working group to get this done.</h3>
            </hgroup>
            <p>

            </p>
        </div>
