﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>We will eventually get a real student interface,</h1>
                <h2>But for now, this will do.</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}

