﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CW Master Teacher</title>

    <script src="~/Scripts/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.js"></script>
    <script src="/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="Content/bootstrap.css" rel="stylesheet">
    <script src="Scripts/bootstrap.min.js" type="text/javascript"></script>

    <!--TinyMCE reference-->
    <script src="@Url.Content("~/Scripts/tinymce/tiny_mce.js")" type="text/javascript"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <!--TinyMCE initialization-->
    <script type="text/javascript">
        tinyMCE.init({
            menubar: false,
            toolbar: false,
            mode: "textareas",
            theme: "advanced",
            readonly: true,
            editor_selector: "mceReadOnly",
            height: "500",
            width: "790",

            content_css: "@Url.Content("~/Scripts/tinymce/css/content.css")",
            convert_urls: false,
        });

        tinyMCE.init({
            menubar: false,
            toolbar: false,
            mode: "textareas",
            theme: "advanced",
            readonly: true,
            editor_selector: "mceReadOnlySmall",
            height: "550",
            width: "520",

            content_css: "@Url.Content("~/Scripts/tinymce/css/content.css")",
        convert_urls: false,
        });

         tinyMCE.init({
            menubar: false,
            toolbar: false,
            mode: "textareas",
            theme: "advanced",
            readonly: true,
            editor_selector: "mceReadOnlyHalfWide",
            height: "500",
            width: "600",

            content_css: "@Url.Content("~/Scripts/tinymce/css/content.css")",
        convert_urls: false,
        });

        tinyMCE.init({

            // General options
            mode: "textareas",
            fontsize_formats: "12pt 14pt 16pt 24pt",
            theme: "advanced",
            editor_selector: "mceEditor",
            height: "500",
            width: "900",
            verify_html: false,
            plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

            // Theme options
            theme_advanced_buttons1: "save,newdocument,print,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect,|,hr,sub,sup,|,charmap,emotions,|,nonbreaking,pagebreak,fullscreen",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,forecolor,backcolor, tablecontrols",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: false,

            // Example content CSS (should be your site CSS)
            //content_css : "css/content.css",
            content_css: "@Url.Content("~/Scripts/tinymce/css/content.css")",
            convert_urls: false,

            // Drop lists for link/image/media/template dialogs
            template_external_list_url: "lists/template_list.js",
            external_link_list_url: "lists/link_list.js",
            external_image_list_url: "lists/image_list.js",
            media_external_list_url: "lists/media_list.js",

         });

        tinyMCE.init({

            // General options
            mode: "textareas",
            fontsize_formats: "12pt 14pt 16pt 24pt",
            theme: "advanced",
            editor_selector: "mceEditorHalfWide",
            height: "500",
            width: "600",
            verify_html: false,
            plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

            // Theme options
            theme_advanced_buttons1: "save,newdocument,print,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,hr,sub,sup,|,charmap,emotions,|,styleselect,formatselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,fontselect,fontsizeselect,",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: false,

            // Example content CSS (should be your site CSS)
            //content_css : "css/content.css",
            content_css: "@Url.Content("~/Scripts/tinymce/css/content.css")",
            convert_urls: false,

            // Drop lists for link/image/media/template dialogs
            template_external_list_url: "lists/template_list.js",
            external_link_list_url: "lists/link_list.js",
            external_image_list_url: "lists/image_list.js",
            media_external_list_url: "lists/media_list.js",

        });

        tinyMCE.init({

            // General options
            mode: "textareas",
            fontsize_formats: "12pt 14pt 16pt 24pt",
            theme: "advanced",
            editor_selector: "mceDisplayPrint",
            height: "500",
            width: "790",
            verify_html: false,
            plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

            // Theme options
            theme_advanced_buttons1: "print",
            theme_advanced_buttons2: "",
            theme_advanced_buttons3: "",
            theme_advanced_buttons4: "",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: false,

            // Example content CSS (should be your site CSS)
            //content_css : "css/content.css",
            content_css: "@Url.Content("~/Scripts/tinymce/css/content.css")",
            convert_urls: false,

            // Drop lists for link/image/media/template dialogs
            template_external_list_url: "lists/template_list.js",
            external_link_list_url: "lists/link_list.js",
            external_image_list_url: "lists/image_list.js",
            media_external_list_url: "lists/media_list.js",

        });



    </script>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            $('#bs-example-navbar-collapse-1.nav a[href="' + this.location.pathname + '"]').parent().addClass('active');
        });
    </script>



</head>
<body id=" layoutcw2" data-spy="scroll" data-target=".cw-mainNav">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-3">
                <p class="site-title ">CW Master Teacher</p>
            </div>

            <div class="col-md-6">
                <div class="row-fluid">
                    <nav class="nav navbar-default float-left" id=" mainNav">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav " id=" mainNav">
                                    <li><a href="@Url.Action("Index", "Curriculum")">Curriculum</a></li>
                                    <li><a href="@Url.Action("Index","DailyPlanning")">Daily Plannng</a></li>
                                    <li><a href="@Url.Action("Index","Classroom")">Classroom</a></li>
                                    @*<li><a href="@Url.Action("Index","ToDoList")">ToDoList</a></li>*@
                                    @if (Model.UserIsApplicationAdmin || Model.UserIsWorkingGroupAdmin)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="@Url.Action("Index", "UserAdmin")">Create or Edit User</a></li>
                                                <li><a href="@Url.Action("Index", "AdminResetPassword")">Admin Reset Password</a></li>
                                                <li class="divider"></li>
                                                <li><a href="@Url.Action("Index", "CourseCopyAdmin", new { successMessage = "", isMaster = true })">Copy New Master Course from Existing Course</a></li>
                                                <li><a href="@Url.Action("Index", "CourseCopyAdmin", new { successMessage = "", isMaster = false })">Copy New Individual Course from Existing Course</a></li>
                                                <li><a href="@Url.Action("Index", "CourseCreateAdmin", new { successMessage = "", isMaster = false })">Create Master Course</a></li>
                                                <li><a href="@Url.Action("Index", "CourseCreateAdmin", new { successMessage = "", isMaster = false })">Edit or Delete Course</a></li>
                                                <li class="divider"></li>
                                                <li><a href=@Url.Action("Index", "WorkingGroupAdmin", routeValues: new { })>Create or Edit Working Group</a></li>
                                                <li><a href="@Url.Action("Index", "TermAdmin")">Create or Edit Term</a></li>
                                                <li><a href="@Url.Action("Index", "ClassSectionAdmin")">Create Class Section</a></li>
                                                <li><a href="@Url.Action("Index", "ClassMeetingAdmin")">Edit Class Meetings or Class Section</a></li>
                                                @*<li><a href="@Url.Action("Index", "LevelSet")">Edit Level Set</a></li>*@
                                                <li class="divider"></li>
                                                <li><a href="@Url.Action("Index", "ZDevelopment")">Show Development View</a></li>

                                            </ul>
                                        </li>
                                    }


                                </ul>
                            </div>

                        </div>
                    </nav>


                </div>
            </div> <!--End col-md-6-->
            <div class="col-md-3">
                <div class="row">

                    <div class="float-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </div>
                    <div class="btn-group float-right cw-space-right-bigskip">
                        <a class="dropdown-toggle cw-gear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "WorkingRelationship")">Edit Narrative Sources</a>
                            </li>
                        </ul>
                    </div><!--End Button Group-->
                </div>
            </div>
            <div id="body">
                <section class="main-content clear-fix">
                    @RenderBody()
                </section>
            </div>

        </div>


    </div>
</body>
</html>
