﻿@model CWMasterTeacher3.GroupDocumentsViewModel

@{
    Layout = null;
}



<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Group Documents</title>
</head>

<body>

    <div class="cw-h5">
        @Model.Heading
    </div>

    <div class="container-fluid">
        @if (Model.SelectedLessonId > 0)
        {
            <div class=" row">
                <div class=" col-md-6"></div> <!--Space holder-->
                <div class=" col-md-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Upload / Download <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">

                            @if (@Model.GroupSelectedDocumentUseId != null && @Model.GroupSelectedDocumentUseId > 0)
                            {
                                if (Model.SelectedDocUseHasPdfCopy || Model.SelectedDocUseIsPdf)
                                {
                                    <li>
                                        <a href="@Url.Action("DownloadDocument", "Curriculum", new
                                        {
                                            documentUseId = Model.GroupSelectedDocumentUseId,
                                            isForEdit = false,
                                            downloadPdfCopy = true,
                                            skipSave = true
                                        })" ,
                                           target="_blank">
                                            @Model.DownloadPdfLabel
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("DownloadDocument", "Curriculum", new
                                        {
                                            documentUseId = Model.GroupSelectedDocumentUseId,
                                            downloadPdfCopy = true
                                        })">
                                            @Model.DownloadPdfToSaveLabel
                                        </a>
                                    </li>
                                }

                                if (!Model.SelectedDocUseIsPdf)
                                {
                                    <li>
                                        <a href="@Url.Action("DownloadDocument", "Curriculum", new
                                        {
                                            documentUseId = Model.GroupSelectedDocumentUseId,
                                            isForEdit = false,
                                            skipSave = true
                                        })">
                                            @Model.DownloadDocumentLabel
                                        </a>
                                    </li>
                                } <!--End if(!SelectedDocUseIsPdf)-->
                                
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("GroupAddDocumentUseToLesson", "Curriculum", new
                                            {
                                                groupSelectedLessonId = Model.GroupSelectedLessonId, 
                                                selectedLessonId = Model.SelectedLessonId,
                                                groupSelectedDocumentUseId = Model.GroupSelectedDocumentUseId,
                                                groupReferenceLessonId = Model.GroupReferenceLessonId
                                            })">Add Document to Lesson</a>
                                    </li>

                            }<!--End if(!Model.SelectedDocUseId > 0)-->

                        </ul>
                    </div><!--End Button Group-->
                </div><!--End col-md-3-->
            </div><!--End Row-->

            <div class="row" id="selectedDocument">
                <div class="col-md-10">

                </div>


                <div class=" col-md-2">

                </div><!--End Column-->

            </div><!--End row-->
            if (Model.GroupSelectedDocumentUseId > 0)
            {
                <div class="row cw-display-selected cw-border-bottom ">
                    <span class=" cw-h5">Selected Document:  </span>
                    @Html.DisplayFor(m => Model.SelectedDocumentUseDisplayName)
                </div>
            }



            <div class="row" id="activeDocuments">
                <div class=" cw-h5">Teaching Documents</div>
                <ul>
                    @foreach (var xDocumentUseModel in Model.TeachingDocumentUses)
                    {
                        <li>
                            @Html.ActionLink(xDocumentUseModel.DisplayName, "Index", "Curriculum",
                                            new
                                            {
                                                lessonId = Model.SelectedLessonId,
                                                groupSelectedDocumentUseId = xDocumentUseModel.DocumentUseId,
                                                groupSelectedLessonId = Model.GroupSelectedLessonId,
                                                groupReferenceLessonId = Model.GroupReferenceLessonId,
                                                showGroupDocuments = true,
                                                showGroupTab = true
                                            },
                                            new { @class = xDocumentUseModel.DisplayClass })
                        </li>
                    }
                </ul>
            </div><!--End row-->

            if (Model.InstructorOnlyDocumentUses.Count > 0)
            {
                <div class="row" id="instructorOnlyDocument">
                    <div class=" cw-h5">Instructor Only Documents</div>
                    <ul>
                        @foreach (var xDocumentUseModel in Model.InstructorOnlyDocumentUses)
                        {
                            <li>
                                @Html.ActionLink(xDocumentUseModel.DisplayName, "Index", "Curriculum",
                                            new
                                            {
                                                lessonId = Model.SelectedLessonId,
                                                groupSelectedDocumentUseId = xDocumentUseModel.DocumentUseId,
                                                groupSelectedLessonId = Model.GroupSelectedLessonId,
                                                groupReferenceLessonId = Model.GroupReferenceLessonId,
                                                showGroupDocuments = true,
                                                showGroupTab = true
                                            },
                                            new { @class = xDocumentUseModel.DisplayClass })
                            </li>
                        }
                    </ul>
                </div><!--End row-->
            }<!--End InstructorOnlyDocumentUses.Count > 0-->

            if (Model.ReferenceDocumentUses.Count > 0)
            {
                <div class="row" id="referenceDocument">
                    <div class=" cw-h5">Reference Documents</div>
                    <ul>
                        @foreach (var xDocumentUseModel in Model.ReferenceDocumentUses)
                        {
                            <li>
                                @Html.ActionLink(xDocumentUseModel.DisplayName, "Index", "Curriculum",
                                            new
                                            {
                                                lessonId = Model.SelectedLessonId,
                                                groupSelectedDocumentUseId = xDocumentUseModel.DocumentUseId,
                                                groupSelectedLessonId = Model.GroupSelectedLessonId,
                                                groupReferenceLessonId = Model.GroupReferenceLessonId,
                                                showGroupDocuments = true,
                                                showGroupTab = true
                                            },
                                            new { @class = xDocumentUseModel.DisplayClass })
                            </li>
                        }
                    </ul>
                </div><!--End row-->
            }<!--End Model.ReferenceDocumentuses.Count > 0-->

        }<!--End if(Model.SelectedLessonId > 0)-->
    </div><!--End container-fluid-->


</body>

</html>