﻿body {
    color:#000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:14px; 
    margin:8px;

}

td{
    color:#000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:14px; 
    margin:8px;

}

pre {
    color:#000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:14px; 
    margin:8px;

}
