﻿@model CWMasterTeacherDomain.ViewObjects.WorkingGroupAdminViewObj
@{
    Layout = "~/Views/Shared/_LayoutCW2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- Bootstrap core CSS -->
    <link href="Content/bootstrap.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class=" container-fluid">
        @using (Html.BeginForm("Index", "WorkingGroupAdmin"))
        {
            <div class=" form-horizontal ">
                <div class="form-group">

                    <div class=" row">
                        <div class=" control-label col-md-offset-2 col-md-2">Select WorkingGroup</div>
                        <div class=" col-md-3">
                            @Html.DropDownListFor(m => Model.WorkingGroupId, Model.WorkingGroupSelectList, Model.DropdownDefaultText, htmlAttributes: new { onchange = "this.form.submit();" })
                            @Html.ValidationMessageFor(model => model.WorkingGroupId, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div><!--End Form Group-->
            </div><!--End Form Horizontal-->
            @Html.HiddenFor(m => Model.WorkingGroupId)
        }<!--End Form-->

        @if (Model.WorkingGroupId != Guid.Empty || true)
        {
            using (Html.BeginForm("AddOrUpdateWorkingGroup", "WorkingGroupAdmin"))
            {
                <div class=" form-horizontal ">
                    <div class="form-group">
                        @Html.LabelFor(model => model.WorkingGroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5 cw-space-above-bigskip">
                            @Html.TextBoxFor(model => model.WorkingGroupName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WorkingGroupName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentAccessCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5 cw-space-above-bigskip">
                            @Html.TextBoxFor(model => model.StudentAccessCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentAccessCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.InstructorAccessCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5 cw-space-above-bigskip">
                            @Html.TextBoxFor(model => model.InstructorAccessCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstructorAccessCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group cw-space-above-bigskip">

                        <div class="col-md-offset-2 col-md-2">
                            @if (Model.WorkingGroupId != Guid.Empty || Model.DoAllowCreate)
                            {
                                <input type="submit" value=@Model.SubmitButtonText class="cw-button-md" />
                            }
                        </div>


                        <span>
                            @Html.ActionLink("Cancel", "Index", "Curriculum", null, new { @class = "cw-button-md" })
                        </span>

                        @Html.HiddenFor(m => Model.WorkingGroupId)
                    </div>

                </div>
            }  <!--End Form-->
        }

        <div class=" row">
            <div class=" cw-red-bold col-md-3 col-md-offset-2 ">
                @Html.DisplayFor(m => Model.Message)
            </div>
        </div>

        @if (Model.WorkingGroupId != Guid.Empty && Model.DoAllowCreate )
        {
            <div class="cw-space-above-bigskip">
                @Html.ActionLink("Delete Working Group", "Index", "WorkingGroupAdmin",
                                routeValues: new { workingGroupId = Model.WorkingGroupId, doShowDeleteWorkingGroup = true },
                                 htmlAttributes: new { @class = "cw-space-above-bigskip cw-underline" })
            </div>
        }



        @if (Model.DoShowDeleteWorkingGroup)
        {
            <div class=" cw-border">
                @using (Html.BeginForm("DeleteWorkingGroup", "WorkingGroupAdmin"))
                {
                    @Html.TextBoxFor(m => Model.WorkingGroupName, htmlAttributes: new { @readonly = "readonly" })
                    <div class=" row cw-space-above-bigskip ">
                        <div class=" col-md-6 ">
                            <div>
                                <input type="submit" value="Confirm Delete WorkingGroup" />
                            </div>
                            <div class=" cw-bold">Careful! This cannot be undone.</div>
                        </div>
                        
                        <div class=" col-md-6 cw-space-above-sm">
                            @Html.ActionLink("Cancel Delete", "Index", "WorkingGroupAdmin",
                                        routeValues: new { },
                                        htmlAttributes: new { @class = "cw-button-md " })
                        </div>
                    </div>
                    @Html.HiddenFor(m => Model.WorkingGroupId)
                }<!--End Form-->
            </div>
        }<!--End if-->






    </div><!--End container fluid-->
</body>
</html>
