﻿@model CWMasterTeacherDomain.ViewObjects.AdminChangePasswordViewObj

@{
    Layout = null;
}



<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>

<body>

    <div class=" cw-border">
        <h3>@Model.Heading</h3>
        @using (Html.BeginForm("AdminChangePassword", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Change Password Form</legend>
                <ol>

                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <input type="submit" value="Change password" />

                <span>
                    @Html.ActionLink("Cancel", "Index", "User", new { userId = Model.UserId }, new { @class = "cw-button-md" })
                </span>
            </fieldset>
            @Html.HiddenFor(m => Model.UserId);
        }<!--End Form-->
    </div><!--End Border-->


</body>
</html>